@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');
body{
font-family: 'Quattrocento Sans', sans-serif;
font-weight: 600;
color: #676767;
line-height: 25px;
}
.container-fluid{
  margin-bottom: 50px !important;

}
.transport-header{
  margin-bottom: 0 !important;
  height: 560px !important;

}
.head-col{
height: 560px;
  background-color: #E45522;
  color: white;

}
.head-col{
  display: flex;
  justify-content: center;
  align-items: center;

}
.circle{
  color: white !important;
  font-size: 10px !important;
  margin-right: 20px;

}
.header{
  line-height: 60px;

}
.header h2{
  padding: 20px 0;
}
.header ul{
  padding: 12px;
}
li{
  list-style-type: none;
}

.get-btn{
  background-color: white;
  font-weight: bold;
  padding: 10px;
  width: 150px;
  color: #2C2C2C;
 border-radius: 2px;

}
.get-btn:hover{
  color: #FC5B24;
}
.button{
  height: 50px;
  width: 80px;
  color: white;
  background-color: #E45522;
  padding: 12px;

 border-radius: 2px;
}
.button:hover{

  opacity: .9;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
.party-bus{
  height: 560px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.events {
 position: sticky;
  margin-bottom: 50px;
  background-color: #F1F5F9;
  padding: 30px;

  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

.item {

  width: 180px;
  height: 50px;
  line-height: 30px;

  font-weight: bold;
  font-size: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events li a{
  color: #414141;
}
.events li a:hover{
  opacity: .7;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.list p{
  padding-top: 12px;
}


.list .fa{
  color: #C4C4C4 !important;
}
.fa:hover, .fas:hover{
  opacity: .6;
}
.explore{
  width: 30%;
  margin: 20px auto !important;
}
.explore h1{
  color: #FC5B24;
  text-align: center;
  padding-bottom: 16px;
}

.explore p{
  text-align: center;
}
.view-para{
margin: 50px 0;
}

.view-vehicles h3{
  color: #333333;
}
.view-vehicles p{
  text-align: justify;
  margin: 30px 0;
}

.truck-image{
display: flex;
 justify-content: center;
 align-items: center;
text-align: center;
}


.efficiency{
  text-align: center;
display: flex;
height: 300px;
padding: 0 50px;

}

.efficiency h4{
  padding: 10px;
  color: #333333;
}
.efficient-2{

  align-self: center;
}
.efficient-3{
  align-self: flex-end;
}
.plan{
background-color: #F1F5F9;
padding: 50px;
}

.plan-head{
  text-align: center;
  color: #FC5B24;
 padding: 30px 0;
}
.personal-groups, .events-travel{

 margin: 20px;
 text-align: center;
 padding: 60px;
 background-color: white;
}
.personal-groups img, .events-travel img{
  width: 300px;

}
.personal-groups h3, .events-travel h3{
  color: #333333;
  padding-bottom: 20px;
}

.plan-quotes{
  margin-top: 80px !important;
}
.group-list{
  margin: 30px 20px !important;
}

.group-list p{

 text-align: left;
}
.facilites{
  padding: 10px 100px;
  display: flex;
  text-align: center;
  justify-content: center;


}

.facility h4{
  color: #333333;
  padding: 20px;
}
.reservation{
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  justify-content: center;
}
.reserve{
  margin: 20px;
}
.reserve h3{
  color: #333333;
  padding: 16px 0;
}
.reserve h2{
  color: #FC5B24;
  padding: 16px 0;
}
.reserve p{
  padding-bottom: 16px;
}
.reservation img{
  width: 320px;
}

.client-testmonials{

  display: flex;
  text-align: center;
  margin-top: 20px;
  justify-content: center;


}

.client-head{
  color: #FC5B24;
  text-align: center;


}
.client{
  padding: 10px;
}
.client p{
  padding: 16px 6px;
}


.fil-col{
  padding: 0;
  margin: 0;
}
.asked-questions, .get-quote{
  height: 740px !important;

}
.asked-questions{
  background-color: #D4D8DE;
  padding: 50px;

  height: 740px !important;
}
.asked-questions h2{
  padding: 20px 0;
}
.que{
  background-color: white;
  padding: 20px 20px;
  margin: 20px 0 !important;
  border-radius: 4px;
}
.fa, .fas{
  color: #FC5B24;
}

.get-quote{
 background-color: black;
 color: white;
 padding: 70px 50px !important;
}
.get-quote h2{
  padding-bottom: 40px;
  line-height: 50px;
}

input[type="text"]{
    font-size: 26px;
  width: 60%;
    margin: 16px 0;
    border-radius: 2px;

}
input[type="textarea"]{

  border-radius: 2px;
}

.submit{
  box-shadow: none;
  font-weight: bold;
  width: 120px;
}



.main{

  margin: 0 auto;
}

@media screen and (max-width: 1180px){
  .transport-header{
    height: auto !important;
  }
  .personal-groups, .events-travel{
    margin: 20px;
    padding: 60px 20px;
  }
  .facilites{
    padding: 10px 40px;
  }
  .client p{
    padding: 16px 0;
  }
  .que h4{
    font-size: 20px;
  }
  .get-quote{
    padding: 26px 50px;
  }
  .get-quote h2{
    font-size: 28px;
  }
  .asked-questions, .get-quote{
    height: auto !important;
  }
}


@media screen and (max-width: 992px){

  .responsive{
    width: 60%;
    margin: 0 auto;
  }
  .transport-header{
    height: auto;
  }
  .header{
    padding-top: 20px;
  }
  .party-bus img{
    display: flex;

    justify-content: center;
  }

  .view-para{
    text-align: center;
    padding: 30px;
  }
  .view-para p{
    text-align: center;

  }
  .view-vehicles img{
    padding: 20px 0;

  }
  .facility h4{
    padding: 10px 0 !important;
  }

  .facility{
    padding: 20px 0;
  }
  .efficiency{
    height: auto;
    padding: 30px !important;
  }
  .efficient{
    padding: 20px 0;
  }
  .reserve{
    padding: 6px 0;
  }
.client{
  padding: 20px;
}
input[type="text"]{
  width: 50%;
}
.asked-questions{
  height: auto;
}
input[type="textarea"]{
  width: 50% !important;
}


}
@media screen and (max-width: 768px){

  .header h1{
    font-size: 35px;
  }

  input[type="textarea"]{
    width: 40% !important;
  }
  .facility{
    padding: 20px 0;
  }
  .facilites{
    padding:0 50px !important;
  }

}
@media screen and (max-width: 600px){
  .party-bus img{
    width: 350px;


  }
  .events ul li a{
    width: 100%;
  }
  .explore h1{
    font-size: 26px;
  }
  .view-para{
    padding: 16px 10px;
  }
  .truck-image{
    padding: 10px;
    text-align: left;

  }

  .plan-head{
    font-size: 30px;
  }
  .events-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .personal-groups, .events-travel{



   margin: 10px 8px;
   padding: 40px 8px;
  }
  .group-list{

  }
  .efficiency{
    padding: 20px;
  }
  .facilites{
    padding:0 20px !important;
  }


  .client{
    padding: 25px 0;
  }
  .asked-questions h2, .get-quote h2{
    font-size: 26px;
  }
  .que h3{
    font-size: 20px;
  }
  input[type="text-area"]{
    width: 100% !important;

  }

}
