@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');
body{
font-family: 'Quattrocento Sans', sans-serif;
font-weight: 600 !important;
color: #676767;
line-height: 25px;
}
body p{
  color: #333333 !important;
}
.container-fluid{
  margin-bottom: 50px !important;

}
.transport-header{
  margin-bottom: 0 !important;
  height: 560px !important;

}
.head-col{
height: 560px;
  background-color: #E45522;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  color: white !important;
  font-size: 10px !important;
  margin-right: 20px;

}
.header{
  line-height: 60px;

}
.header h2{
  padding: 20px 0;
}
.header ul{
  padding: 12px;
}
li{
  list-style-type: none;
}

.get-btn{
  background-color: white;
  font-weight: bold;
  padding: 10px;
  width: 150px;
  color: #2C2C2C;
 border-radius: 2px;

}
.get-btn:hover{
  color: #FC5B24;
}
.button{
  height: 50px;
  width: 80px;
  color: white;
  background-color: #E45522;
  padding: 12px;
 border-radius: 2px;
}
.button:hover{
  opacity: .9;
}
a{
  text-decoration: none;

}
a:hover{
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.9);
}

#demo{
  height: 560px;
  display: flex;
  align-items: center;
 justify-content: center; !important;

}
.carousel-item img{
   width: 70% !important;
margin-left: 20%;

}
.carousel-indicators li {
  display: inline-block;
  text-indent: 0;
  background-color: #F1F5F9;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
       background-color: #fc5b24;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #fc5b24;
    border-radius: 50%;
}

.events {
 position: sticky;
  margin-bottom: 50px;
  background-color: #F1F5F9;
  padding: 30px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.item {
  width: 180px;
  height: 50px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events li a{
  color: #414141;
}
.events li a:hover{
  opacity: .7;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list p{
  padding-top: 12px;
}
.plus-icon .fa{
  color: #C4C4C4 !important;
}

.fa, .fas{
  transition: all .3s ease-in;
}
.fa:hover, .fas:hover{
  opacity: .6;
  transform: scale(1.1);
}
.title{
  padding: 18px 0;

}

/*  **********   Explore Start *********** */
.explore{
  width: 30%;
  margin: 0 auto !important;
}
.explore h1{
  color: #FC5B24;
  text-align: center;
}

.explore p{
  text-align: center;
}

/************** View vehicles start ***********/
.view-para{
margin: 50px 0;
}

.view-vehicles h3{
  color: #333333;
}
.view-vehicles p{
  text-align: justify;
 margin-bottom: 30px;
}
.truck-image{
  display: flex;
   justify-content: center;
   align-items: center;
}
.truck-image img{
  width: 100% !important;


}

/************* 3 columns efficiency Start ***************/
.efficiency{
  text-align: center;
display: flex;
height: 300px;
padding: 0 50px;

}

.efficiency h4{
  padding: 10px;
  color: #333333;
}
.efficient-2{

  align-self: center;
}
.efficient-3{
  align-self: flex-end;
}

/********* Plan next event with us **************/
.plan{
background-color: #F1F5F9;
padding: 50px;
}

.plan-head{
  text-align: center;
  color: #FC5B24;

}
.personal-groups, .events-travel{

margin: 20px;
 text-align: center;
 padding: 40px;
 background-color: white;
}
.personal-groups img, .events-travel img{
  width: 300px;

}

.personal-groups h3, .events-travel h3{
  color: #333333;
  padding-bottom: 20px;
}

.plan-quotes{
  margin-top: 80px !important;
}
.group-list{
  margin: 30px 20px !important;
}
.panel{
  padding: 0 10px;
  padding-top: 10px;
  display: none;
}
.group-list p{

 text-align: left;
}
/*************** 4 columns Facilities  ************/

.facilites{
  padding: 10px 100px;
  display: flex;
  text-align: center;
  justify-content: center;
 animation: fadeInLeft .4s;

}


.facility h4{
  color: #333333;
  padding: 20px;
}

.head-facility{
   position: relative;
}

.facility h4 > a:before {
  content: "";
  position: absolute;

  width: 30%;
  margin: 0 auto !important;
  height: 3px;
  bottom: 0;

  left: 0;
  right: 0;
  background: #FC5B24;
 visibility: hidden
  border-radius: 5px;
  transform: scaleX(0);
  transition: text-translate .3s ease-in-out;
}
.facility h4 > a:hover:before,
.facility h4 > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/*************** Reservation ****************/
.reservation{
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  justify-content: center;
  animation: fadeInRight .2s;

}
.reserve{
  margin: 20px;
}
.reserve h3{
  color: #333333;

}
.reserve h2{
  color: #FC5B24 !important;
  padding: 16px 0;
}
.reserve p{
  padding-bottom: 16px;
}
.reservation img{
  width: 320px;
  transition: all .3s ease-in;
}
/************** Client Testmonials***************/

.client-testmonials{

  display: flex;
  text-align: center;
  margin-top: 20px;
  justify-content: center;


}

.client-head{
  color: #FC5B24;
  text-align: center;


}
.client{

}
.client p{
  padding: 16px 6px;
}


.fil-col{
  padding: 0 !important;
  margin: 0 !important;
}

/************* Footer**************/
.asked-questions, .get-quote{
  height: 740px !important;

}
.asked-questions{
  background-color: #D4D8DE;
  padding: 50px;
  }
.que{
  background-color: white;
 padding: 12px 10px;
 margin: 16px 0;
  border-radius: 4px;

}

.que-box{
 padding: 0 10px;
 display: flex;
 justify-content: space-between;
 align-items: center !important;

}
.que-box h5{

  font-weight: 600;
}
.panel p{

  font-weight: 500;
}

.fa, .fas{
  color: #FC5B24;
}

.get-quote{
 background-color: black;
 color: white;
 padding: 50px 50px !important;
}
.get-quote h2{

  line-height: 50px;
}

input[type="text"], input[type="email"], textarea{
    font-size: 16px;
  width: 60%;
    margin: 10px 0;
    border: none;
    padding: 6px;

}

.submit{
  box-shadow: none;
  font-weight: bold;
  width: 120px;
  border: none;
}
.main{
  margin: 0 auto;
}

@media screen and (max-width: 1180px){
  .transport-header{
    height: auto !important;
  }
.asked-questions{
  height: auto !important;
}
}


@media screen and (max-width: 992px){

  .responsive{
    width: 60%;
    margin: 0 auto;
  }
  .transport-header{
    height: auto !important;
  }
  .header{
    padding-top: 20px;
  }
  .header ul li{
    text-align: left;
  }

  .party-bus img{

    width: 100%;
    display: flex;

    justify-content: center;
  }

  .truck-image img{
    width: 100% !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .view-para{
    text-align: center;
    padding: 30px;
  }
  .view-para p{
    text-align: center;

  }
  .view-vehicles img{


  }
  .facility h4{
    padding: 10px 0 !important;
  }

  .facility{
    padding: 20px 0;
  }
  .efficiency{
    height: auto;
    padding: 30px !important;
    animation: bounceIn .3s;
  }
  .efficient{
    padding: 20px 0;
  }
  .reserve{
    padding: 6px 0;
  }
.client{
  padding: 20px;
}

.asked-questions{

}
input[type="textarea"]{
  width: 50% !important;
}

}


@media screen and (max-width: 768px){

  .header h1{
    font-size: 35px;
  }

  input[type="textarea"]{
    width: 40% !important;
  }
  .facility{
    padding: 20px 0;
  }
  .facilites{
    padding:0 50px !important;
  }
  input[type="text"], input[type="email"], textarea{
    width: 80%;
  }
.personal-groups img, .events-travel img{
   width: 80%;
}
}


/**************************For IPHONE ***********************/

@media screen and (max-width: 600px){
  .party-bus img{
    width: 430px;
  }
  .events ul li a{
    width: 100%;
  }
  .explore h1{
    font-size: 26px;
  }
  .view-para{
    padding: 16px 10px;
  }
  .truck-image{
    padding: 10px;
  }

  .plan-head{
    font-size: 30px;
  }
  .events-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .personal-groups, .events-travel{
   margin: 10px 8px;
   padding: 40px 8px;
  }

  .efficiency{
    padding: 20px;
  }
  .facilites{
    padding:0 20px !important;
  }


  .client{
    padding: 25px 0;
  }
  .asked-questions h2, .get-quote h2{
    font-size: 26px;
  }
  .que h3{
    font-size: 20px;
  }
  input[type="text-area"]{
    width: 100% !important;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;

    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {

  animation-name: fadeInDown;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;

    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;

    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {

  animation-name: fadeInLeft;
}
